ISUR_LOGIN=Admin
ISUR_PASSWORD=
ISUR_AUTH_URL=https://ваш-сервер.api.isur.tech/api/Authorization
ISUR_API_URL=https://ваш-сервер.api.isur.tech/api/Works
ISUR_WORK_PARTICIPANTS_URL=https://ваш-сервер.api.isur.tech/api/WorkParticipants
BITRIX_WEBHOOK=https://ваш-портал.bitrix24.ru/rest/1/токен/
GROUP_ID=0
RESPONSIBLE_ID=1